* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #4a4a4a;
    margin: 0;
}

.logo strong {
    color: black;
    font-size: 20px;   
}

.logo span {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    color: #9b9b9b;
}

.logo-img {
    height: 2rem;
    width: auto;
    display: inline-flex;
    align-items: center;
    padding-left: 48px;
}

.logo {
    display: inline-flex;
    height: 2rem;
    font-size: 32px;
}

.head-pc {
    display:flex;
    background-color: white;
    position: static;
    width: 100%;
    height: 4rem;
    justify-content: right;
    align-items: center;
}

.nav-pc {
    display: inline-flex;
    justify-content: flex-end;
    height: 64px;
    width: 100%;
    background-color: white;
    gap: 16px;
    align-items: center;
    padding-right: 48px;
}

.nav-pc span {
    font-size: 18px;
}

.nav-mobile {
    display: none;
}

.learn {
    background-color: #d8d8d8;
    display: flex;
    padding: 56px 48px;
}

#img-one {
    width: 60%;
    height: auto;
}

.text1 {
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    flex: 1;
}

.text1 h1 {
    font-size: 72px;
    font-weight: bold;
}

.text1 p {
    font-size: 32px;
    font-weight: 500;
}

#startbutton {
    font-weight: normal;
    color: white;
    background-color: #4a4a4a;
    font-size: 26px;
    width: 31rem;
    text-align: center;
    justify-content: center;
    padding: 16px 0;
    border-radius: 8px;
    opacity: 0.7;
    transition-duration: 600ms;
}

#startbutton:hover {
    opacity: 1;
}

.container-one {
    display: flex;
}

.practice-left {
    display: flex;
    padding: 56px 48px;
    flex-direction: column;
    width: 60%;

}

#img-two {
    width: 100%;
    height: auto;
    padding-bottom: 48px;
}

.text2 h1 {
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 32px;
}

.text2 p {
    font-size: 24px;
}

.author {
    padding-top: 64px;
}

.practice-right {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 40%;    
}

.practice-right h3 {
    font-size: 32px;
    padding: 8px 0;
}

.practice-right p{
    font-size: 24px;
    padding: 8px 0;
}

.practice-right a {
    color: #3399cc;
    font-size: 20px;
    font-weight: 500;
}

.orientation {
    display: flex;
    width: 100%;
    border: 1px solid #d8d8d8;
}

.orientation img {
    width: 35%;
    padding: 24px;
    display: inline-flex;
}

.text3 {
    width: 65%;
    align-self: center;
}

.campus {
    display: flex;
    width: 100%;
    border: 1px solid #d8d8d8;
}

.campus img {
    width: 35%;
    padding: 24px;
    display: inline-flex;
}

.text4 {
    width: 65%;
    align-self: center;
}

.guest {
    display: flex;
    width: 100%;
    border: 1px solid #d8d8d8;
}

.guest img {
    width: 35%;
    padding: 24px;
    display: inline-flex;
}

.text5 {
    width: 65%;
    align-self: center;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    background-color: #d8d8d8;
    justify-content: center;
    gap: 48px;
    padding-bottom: 48px;
}

.orientation .guest .campus {
    transition: 1.5s;
    overflow: visible;
}

.orientation:hover, .campus:hover, .guest:hover {
    background-color: #d8d8d8;
    transform: scale(1.1);
}

.courses h1 {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    padding: 48px 0;
    width:100%;
}

.software, .computer-art, .design, .data, .business, .marketing {
    background-color: white;
    max-width: 532px;
    border-radius: 4px;
}

.software:hover, .computer-art:hover, .design:hover, .data:hover, .business:hover, .marketing:hover {
    transform: scale(1.1);
}

.courses img {
    max-width: 100%;
}

.courses h3 {
    font-size: 32px;
    padding: 20px 0;
    flex-grow: 1;
    text-indent: 48px;
}
    
.c {
    font-size: 24px !important; 
    font-weight: normal !important;
    text-transform: uppercase;
    flex-grow: 1

}

.courses p {
    font-size: 24px;
    flex-grow: 1;
    padding: 20px 48px 48px 48px;
    line-height: 1.5;
}


video {
    width: 60%;
    height: auto;
}



